@page "/"
@using Azure.Storage.Blobs;
@using FileUploadManager.Data;
@using System.Net.Mail;
@inject IJSRuntime JsRuntime

<PageTitle>Index</PageTitle>

@*<InputText />*@   

<div class="d-flex justify-content-center">
    <EditForm Model="@model" OnSubmit="@LoadFile">
        <div>
            <InputFile OnChange="@ChangeFile" id="file" class="form-control" @bind-Value="@model.File" />
            <span id="error-span"></span>
        </div>
        <div>
            <InputText class="form-control" placeholder="Enter your e-mail" @bind-Value="@model.Email" />
        </div>
        <div>
            <input type="submit" value="Submit" id="submit-button" class="form-control btn btn-md btn-warning" />
        </div>
    </EditForm>
</div>






@code{
    private UploadModel model = new();

    private async void ChangeFile(InputFileChangeEventArgs e)
    {
        model.File = e.File;
        await JsRuntime.InvokeVoidAsync("clearError");
        string extension = new FileInfo(model.File.Name).Extension;
        if (extension != ".docx")
        {
            await JsRuntime.InvokeVoidAsync("handleError");
        }

    }

    public async void LoadFile()
    {
        IConfigurationRoot config = new ConfigurationBuilder().AddJsonFile("appsettings.json").Build();
        string connectionString = config.GetSection("AzureSettings")["ConnectionString"];
        string storageName = config.GetSection("AzureSettings")["BlobName"];
        string baseUrl = config.GetSection("AzureSettings")["URL"];
        BlobServiceClient serviceClient = new BlobServiceClient(connectionString);
        BlobContainerClient container = serviceClient.GetBlobContainerClient(storageName);
        if(!await container.ExistsAsync())
        {
            container = await serviceClient.CreateBlobContainerAsync(storageName);
        }
        await container.CreateIfNotExistsAsync();
        FileUploadService service = new FileUploadService(container);

        if(await service.Load(model.File.Name, model.File))
        {

            EmailService emailService = new EmailService(new System.Net.Mail.SmtpClient("smtp.gmail.com", 587));

            using (MailMessage letter = new MailMessage())
            {
                letter.From = new MailAddress("File.upload.6.11@gmail.com");
                letter.To.Add(model.Email);
                letter.Subject = "File upload successfuly";
                letter.Body = $@"Your .docx file was added to container successfully. To check it, you can follow the link
                          https://palanyaca.blob.core.windows.net/{storageName}/{model.File.Name}";
                try
                {
                    emailService.Send(letter);
                }
                catch (SmtpException ex)
                {
                    await JsRuntime.InvokeVoidAsync("handleEmailFailure", ex.Message);
                }
            }
        }
    }
}